* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}
.app-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  grid-template-areas: "sidebar sidebar content content content content content content content content";
}
/* ! the styling when we are inside the signup or the login components */
.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #001c30;
  /* color: wheat; */
}
/* ? The styling of the home component  */
.Home-container {
  grid-area: content;
  border: 1px solid;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "title" "title" "content" "content" "content"
    "content" "content" "content" "content" "content";
}
.Home-container::-webkit-scrollbar {
  display: none;
}
.home-title {
  grid-area: title;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.home-title h2 {
  font-size: 50px;
}
.home-content {
  grid-area: content;
  border: 1px solid;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  overflow-y: scroll;
  /* height: 100vh; */
  gap: 10px;
  padding: 20px;
}
.lines-home {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 80px;
  height: 50vh;
  gap: 20px;
}
.left-side {
  height: 100%;
  width: 50%;
  border: 1px solid;
  border-radius: 180px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: coral; */
}
.left-side p {
  text-align: center;
  font-size: 16px;
  transform: rotatez(-35deg);
  /* background-color: red; */
}
.right-side {
  height: 100%;
  width: 50%;
  border: 1px solid;
  background-color: #176b87;
  border-radius: 0px 180px;
  color: white;
  /* background-image: url(../public/image1.jpg); */
}
.image-home-right-side {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 180px;
}
/* ? The styling of the sidebar component  */
.Side-Bar-container {
  grid-area: sidebar;
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "profile" "profile" "profile" "profile" "link"
    "link" "link" "link" "btn" "btn";
  gap: 5px;
  padding: 5px;
}
/* ! profile styling */
.profile-section {
  grid-area: profile;
  border: 1px solid;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: "image" "image" "image" "content" "content";
}
.profile-image {
  grid-area: image;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container-for-profile {
  width: 70%;
  height: 75%;
  border: 1px solid;
  border-radius: 50px;
}
.profile-content {
  grid-area: content;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ! link seciton styling */
.link-section {
  grid-area: link;
  border: 1px solid;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 0px 10px;
}
.link-section li {
  list-style: none;
  text-transform: capitalize;
}
.links-item {
  text-decoration: none;
  color: black;
}
/* ! btn auth styling */
.btn-section {
  grid-area: btn;
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}
.btn-section-auth {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 20px;
}
/* ? The styling of the signup component  */
.Signup-container {
  border: 1px solid;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    ". . . . ."
    ". form form form ."
    ". form form form ."
    ". form form form ."
    ". . . . .";
}
.signup-form {
  grid-area: form;
  border: 1px solid;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  box-shadow: 0px 0px 7px 3px #dafffb;
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.after-form {
  content: "";
  width: 475px;
  height: 440px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-image: linear-gradient(180deg, #dafffb, #64ccc5);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  z-index: -1;
}
.after-form2 {
  content: "";
  width: 475px;
  height: 440px;
  position: absolute;
  /* top: -5px;
  right: 0px; */
  background-image: linear-gradient(180deg, #dafffb, #64ccc5);
  transform-origin: bottom left;
  transform: rotate(-15deg) skewY(-41deg) translateX(-20px);
  z-index: -1;
}
.left-side-signup-for {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "title" "title" "input" "input" "input"
    "input" "input" "input" "btn" "btn";
}
/*  ! the FORM CONTENT */
.header-form-auth {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #176b87;
}
.input-form-auth {
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
input {
  width: 200px;
  height: 30px;
  padding: 10px;
  border-radius: 20px 0px;
  background-color: #dafffb;
  color: #176b87;
}
input::placeholder {
  color: #176b87;
}
.btn-form-auth {
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.if-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.if-section p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: #176b87;
}
.if-section p .link-form {
  text-decoration: none;
  color: #dafffb;
}
.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 20px 0px;
  background-color: #dafffb;
  color: #176b87;
  cursor: pointer;
}
.right-side-signup-for {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  flex-direction: column;
}
.right-side-signup-for p:first-child {
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  position: absolute;
  top: 50px;
}
.right-side-signup-for .second-children {
  font-size: 20px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 125px;
}
.left {
  font-size: 20px;
  width: 200px;
  position: absolute;
  left: 20px;
  top: 130px;
}
/* ? The styling of the login component  */
.login-container {
  border: 1px solid;
  width: 100%;
  height: 100%;
  /* grid-area: content; */
}
/* todo the styling for the task page */
.Task-container {
  grid-area: content;
  border: 1px solid;
  /* background-color: #176b87; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "title" "title" "nav" "task" "task"
    "task" "task" "task" "task" "task";
  overflow-y: scroll;
}
/* ?the title task  */
.title-of-task {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.title-of-task h2 {
  font-size: 50px;
}
/* ?the task nav */
.nav-of-task {
  grid-area: nav;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: "left left left left . . . .  right right";
}
.nav-bar-task-left {
  grid-area: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  text-transform: capitalize;
}
li {
  list-style: none;
}
.nav-bar-task-right {
  grid-area: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.btn-create-task {
  width: 100%;
  height: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 20px;
}
/* ?the task list */
.Last-Tasks {
  grid-area: task;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  gap: 20px;
  padding: 10px;
}
.task-one-container {
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  border-radius: 15px;
  grid-template-areas:
    "header" "header" "descreption" "descreption" "descreption"
    "descreption" "descreption" "btn" "btn" "btn";
}
.task-one-header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.task-one-description {
  grid-area: descreption;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.task-one-btn {
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.btn-of-one-task {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full {
  background-color: #dafffb;
}
.delete {
  background-color: red;
}
.update {
  background-color: blue;
}
/* ? last 3 task styling */
.Last-Tasks-three {
  grid-area: task;
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 20px;
  padding: 10px;
}
.task-one-header-three {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  padding: 5px 0px;
  position: relative;
  grid-template-areas: ". title title title . . . . . icon";
}
.title-full-task {
  grid-area: title;
  /* color: skyblue; */
  /* border: 1px solid; */
}
.icon-full-task {
  grid-area: icon;
  /* border: 1px solid; */
  font-size: 25px;
  cursor: pointer;
}
.visibel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid;
  position: absolute;
  width: 100px;
  height: 120px;
  right: 50px;
  top: 35px;
  transition: all 2s;
  background-color: #176b87;
  text-transform: capitalize;
  border-radius: 20px;
}
.visibel p {
  cursor: pointer;
}
