* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  /* background-image: linear-gradient(180deg, #5efce8 10%, #736efe 100%); */
}
#root {
  width: 100%;
  height: 100%;
}
.app-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "navbar navbar navbar navbar navbar  navbar navbar "
    "container  container  container container container container  container "
    "container  container  container container container container  container "
    "container  container  container container container container  container "
    "container  container  container container container container  container "
    "container  container  container container container container  container "
    "container container container container container container container ";
  gap: 10px;
}
/*? form styling */
.container-of-from {
  grid-area: container;
  border: 1px solid;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    ". form form form . "
    ". form form form . "
    ". form form form . "
    ". form form form ."
    ". form form form . ";
  /* margin: 0px 50px; */
}
.auth-form {
  grid-area: form;
  border: 1px solid;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
    "header" "header" "input" "input" "input"
    "input" "input" "btn" "btn" "is";
  margin: 50px 100px;
}
.Navbar {
  grid-area: navbar;
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo logo item item item item item btn btn btn ";
}
.container-logo {
  grid-area: logo;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-logo p {
  font-size: xxx-large;
  font-weight: bolder;
}
.nav-item-container {
  grid-area: item;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 45px;
}
.nav-item {
  font-weight: bold;
  list-style: none;
  /* font-size: 20px; */
}
.nav-item a {
  text-decoration: none;
  color: whitesmoke;
}
.small-profile {
  grid-area: btn;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.prifile-content {
  width: 100%;
  height: 100%;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.btn-nav-Auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.small-profile .btn-log-auth {
  width: 100px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(0, 119, 255);
  color: white;
  border: transparent;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.home-container {
  grid-area: container;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: xx-large;
}
.btn-logout {
  font-size: xx-large;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.header {
  /* border: 1px solid; */
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container {
  border: 1px solid;
  grid-area: input;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
input {
  padding: 0px 10px;
  width: 250px;
  border-radius: 10px;
  font-size: 18px;
  height: 35px;
  background-color: transparent;
  color: black;
}
input::placeholder {
  color: white;
}
.btn-container {
  border: 1px solid;
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.btn-container button {
  width: 150px;
  height: 35px;
  border-radius: 20px;
}
.is {
  border: 1px solid;
  grid-area: is;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
}
.isloading {
  color: blue;
}
/* ! Task styling */
.Task-container {
  grid-area: container;
  margin: 10px;
  /* border: 1px solid; */
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
    "header" "header" "nav" "form" "form"
    "form" "form" "form" "form" "form";
}
.header-container {
  grid-area: header;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container h1 {
  font-size: 80px;
}
.Task-nav-links {
  grid-area: nav;
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: " . . .nav nav nav nav . . . ";
}
.nav-task {
  grid-area: nav;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.nav-task li {
  list-style: none;
  color: white;
}
.nav-task li .links-task {
  text-decoration: none;
  color: white;
}
.form-create-task {
  grid-area: form;
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(10.1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". . . form form form form . . .";
}
.show-all-task {
  grid-area: form;
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  gap: 15px;
  padding: 20px;
}
.task-form {
  grid-area: form;
  border: 1px solid;
  margin: 0px 50px;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
    "header" "header" "input" "input" "input"
    "input" "input" "input" "btn" "btn";
}
.header-task-form {
  grid-area: header;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-task-form h1 {
  font-size: xx-large;
}
.input-task-form {
  grid-area: input;
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "left left left left left right right right right right";
  gap: 20px;
}
.input-task-form-right {
  grid-area: right;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.input-task-form-left {
  grid-area: left;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.input-Task {
  padding: 10px;
  color: white;
}
.input-Task::placeholder {
  color: white;
}
.input-desX {
  width: 90%;
  height: 100%;
  resize: none;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}
.input-desX::placeholder {
  text-align: start;
}
.btn-task-form {
  grid-area: btn;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-task-form button {
  width: 150px;
  height: 30px;
  background-color: transparent;
  border-radius: 10px;
}
.Task-container-three {
  grid-area: container;
  margin: 10px;
  border: 1px solid;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
    "header" "header" "nav" "form" "form"
    "form" "form" "form" "form" "form";
}
.Last-three-task {
  grid-area: form;
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  overflow-y: scroll;
  padding: 10px;
}
/* .Last-three-task::-webkit-scrollbar {
  display: none;
} */
.one-task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}
.task-time {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: "time time time . . . btn btn btn btn";
}
.time-section {
  grid-area: time;
}
.btn-section {
  grid-area: btn;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 10px;
}
.btn-section button {
  margin: 0px 20px;
  border-radius: 15px;
  background-color: transparent;
}
/* ?the styling of the btn update and delete  */
.update {
  color: rgb(43, 43, 242);
  border: 1px solid rgb(43, 43, 242);
  cursor: pointer;
}
.link-update {
  color: rgb(43, 43, 242);
  text-decoration: none;
}
.delete {
  color: rgb(219, 0, 0);
  border: 1px solid rgb(219, 0, 0);
  cursor: pointer;
}
.link-delete {
  color: rgb(219, 0, 0);
  text-decoration: none;
}
